version: '3.8'

services:
  web:
    container_name: albanian_asr_web
    build:
      context: .
      dockerfile: ./web/dockerfiles/Dockerfile
    ports:
      - "${WEB_PORT:-3000}:3000"
    volumes:
      - ./web:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_DOMAIN_LOCAL=${NEXT_PUBLIC_API_DOMAIN_LOCAL}
      - NEXT_PUBLIC_FILE_ACCESS_DOMAIN_LOCAL=${NEXT_PUBLIC_FILE_ACCESS_DOMAIN_LOCAL}
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - NEXT_PUBLIC_ENVIRONMENT=${ENVIRONMENT:-local}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - API_URL=http://api
    depends_on:
      - api

  api:
    container_name: albanian_asr_api
    build:
      context: .
      dockerfile: ./api/dockerfiles/Dockerfile
    ports:
      - "${API_PORT:-8000}:80"
    volumes:
      - ./audio_files/mp3:/code/mp3
      - ./audio_files/mp4:/code/mp4
      - ./audio_files/splices:/code/splices
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: albanian_asr_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres_data: