databases==0.7.0
Flask==2.0.3
Flask_Navigation==0.2.0
librosa==0.10.0.post2
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.23.5
pandas==2.0.1
protobuf==4.23.2
pydub==0.25.1
pytube==15.0.0
Requests==2.31.0
scipy==1.10.1
SQLAlchemy==1.4.48
tensorflow==2.12.0
twilio==8.2.1
