<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9GR68PSG29"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9GR68PSG29');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9719759119902742" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
  <title>Data Collextion</title>
  <link rel="stylesheet" href="https://api.uneduashqiperine.com/splices/style.css">

</head>
<body>
    <div class="w3-top">
      <div class="w3-bar w3-card w3-dark-grey" >
        <div style="margin-right: 20px;">
            {% for item in nav.top %}
            <a href="{{ item.url }}" class="w3-bar-item w3-button w3-padding-large w3-right" onclick="myFunction()">{{ item.label }}</a>
            {% endfor %}
        </div>
        <image style='height: 46.5px; border-radius: 20%; margin-left: 20px;' src="https://api.uneduashqiperine.com/splices/resources/logo.png" alt="logo">
      </div>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
<!-- partial:index.partial.html -->
<script src="https://kit.fontawesome.com/7c33dff1d8.js" crossorigin="anonymous"></script>


<div class="container" style="background-color: #a76060c4;">
    <div>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div id="prediction_div" class="transcribd_text" >
            <h3 class="w3-center">Transcript:</h3>
            <h1 class="w3-center" id="here_transcript"></h1>
        </div>
        
        <div class="loader_container" >
            <div class="w3-center" id="oaderdiv">
                <div class="loader" ></div>
            </div>
        </div>
        <script>
            $('.loader_container').removeClass("visible").addClass("hidden");
            $('.transcribd_text').removeClass("visible").addClass("hidden");
        </script>

        
    </div>
    <div class="player" id="player">
      <div id="music-info">
        <br/>
        <div class="bg"></div>
        <br/>
        <!-- <div id="controls" style="display: flex; justify-content: center;">
            
          <button id="recordButton" >Record</button>
          <button id="pauseButton" disabled>Pause</button>
          <button id="stopButton" disabled>Stop</button>     
         </div> -->
         <div class="w3-container w3-center">
            <div id="controls" class="w3-container w3-bar w3-center">
                <button id="recordButton" class="w3-bar-item w3-button w3-green">Record</button>
                <button id="pauseButton" class="w3-bar-item w3-button w3-yellow" disabled>Pause</button>
                <button id="stopButton" class="w3-bar-item w3-button w3-red" disabled>Stop</button>
            </div>
        </div>
         <div id="formats">Format: start recording to see sample rate</div>
         <div class="w3-container w3-center">
            <ol id="recordingsList" class="w3-container w3-center"></ol>
         </div>
         
         <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
         <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
         <script src="https://api.uneduashqiperine.com/splices/js/app.js"></script>
         <div hidden id="transcribe_button">      
          <br/>
          <button class="button-65" id="transcribe_button_function" onclick="transcribe_button_function()">Transcribe</button>
        </div>
      </div>
  
    </div>
  </div>

<!-- The Band Section -->
<div style="background-color: #D8D4D4;">
  <div class="w3-container w3-content w3-center" id="band">
    <h2 class="w3-wide">THE PROJECT</h2>
    <p class="w3-opacity"><i>We love Technology</i></p>
    <p class="w3-justify">Welcome to the Albanian Language Transcriber project! Our goal is 
      to develop a functioning Albanian speech-to-text AI model to improve the lives of Albanians 
      and promote the development of the country. With over 7 million speakers, the Albanian language 
      is an important 
      language with a rich cultural heritage, yet it currently lacks a speech-to-text tool. 
      By developing this tool, we aim to bring the benefits of speech recognition technology 
      to Albanian speakers in various fields, including the smartphone, automobile, medical, 
      education, and jurisdiction industries. Our team is committed to building a high-quality 
      model that achieves an accuracy rate of 80% and makes a meaningful impact on the Albanian 
      community. We appreciate your support and interest in our project.</p>
      <h2 class="w3-wide">OUR DATASET SO FAR</h2>

    <div class="w3-row w3-padding-32">
      <p class="w3-wide"><i class="fa fa-camera"></i>Labeled Datas</p>
      <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">{{sumofLabeled}}</div>
      </div>

      <p class="w3-wide"><i class="fa fa-camera"></i>UnLabeled Datas</p>
      <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">{{sumofUnLabeled}}</div>
      </div>

      <p class="w3-wide"><i class="fa fa-camera"></i>Labeled Datas Duration</p>
      <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">{{sumofLabeledDuration}}</div>
      </div>

      <p class="w3-wide"><i class="fa fa-camera"></i>UnLabeled Datas Duration</p>
      <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">{{sumofUnLabeledDuration}}</div>
      </div>

      <p class="w3-wide"><i class="fa fa-camera"></i>Progress</p>
      <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:100%">{{progressPercentage}}</div>
      </div>
      <!-- <h3>Labeled Datas: {{sumofLabeled}}</h3> -->
      <!-- <h3>UnLabeled Datas: {{sumofUnLabeled}}</h3> -->
      <!-- <h3>Labeled Datas Duration: {{sumofLabeledDuration}}</h3> -->
      <!-- <h3>UnLabeled Datas Duration: {{sumofUnLabeledDuration}}</h3> -->
      <!-- <h3>Progress: {{progressPercentage}}</h3> -->
    </div>
  </div>
</div>
<!-- partial -->
<script src="https://api.uneduashqiperine.com/splices/script.js"></script>

</body>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32 w3-opacity w3-hover-opacity-off">
    <div class="w3-xlarge w3-section">
    <a href="https://github.com/florijanqosja" class="fa fa-github w3-hover-opacity"></a>
    <a href="https://www.linkedin.com/in/florijan-qosja/" class="fa fa-linkedin w3-hover-opacity"></a>
  </div>
  <p>Powered by <a href="https://www.linkedin.com/in/florijan-qosja/" title="Albanian ASR" target="linkedin" class="w3-hover-text-green">Florijan Qosja</a></p>
</footer>

</html>
