<html>
    <head>
        <title>Data Labeling</title>
    </head>
    <body>
        <div style=" text-align: center; margin: auto; width: 50%; padding: 10px;">
            <h1>Data Labeling</h1>
            <br/>
            <audio controls autoplay src="{{audio_link}}"></audio>
            <br/>
            <h3>Please enter the content of the audio here.</h3>
            <br/>
            <br/><br/>
            <form action="/" method="post"> 
                <input name="input_content" style="width: 50%; height: 40px;" placeholder="Please enter the content of the audio here." />
                <button name="submit_button" style="width: 10%; height: 40px;" value="submit">Submit</button>
            </form>
            <form action="/" method="post">
                <button name="submit_button" style="width: 10%; height: 40px;" value="delete">Delete</button>
            </form>

        </div>
    </audio>
    </body>

</html>