.recordings-container {
  height: 85%;
  padding: 0 2rem;
  background-color: #cda5a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 85%;
  margin: 0 auto;
  min-height: 220px;
}

.recordings-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #301616;
}

.no-records {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #301616;
}

.recordings-list::-webkit-scrollbar {
  width: 5px;
}

.recordings-list::-webkit-scrollbar-track {
  background: #e4d3cf;
}

.recordings-list::-webkit-scrollbar-thumb {
  background: #b33e3a;
}

.recordings-list {
  max-height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Added this */
  padding: 1rem;
  width: 95%;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: 10px;
}

.record audio {
  width: 60%;
}

.delete-button-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;  /* Added this */
}

.submit-button-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;  /* Added this */
}

.delete-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #b33e3a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #401a1a;
}

.submit-button {
  background-color: #fff;
  height: 3rem;
  border-radius: 20px;
  color: #401a1a;
}

.submit-button:hover {
  background-color: #401a1a;
  color: #fff;
}
